:root {
  --blue-gray-700: hsla(215, 30%, 22%, 1);
  --blue-gray-800: hsla(215, 28%, 17%, 1);
  --blue-gray-900: hsla(0, 0%, 11%, 1);
  --green-500: hsla(142, 93%, 65%, 1);
  --green-600: hsla(144, 70%, 58%, 1);
  --green-700: hsla(160, 84%, 39%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --medium-gray: hsla(255, 5%, 84%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.bg-primary {
  background: var(--blue-gray-900);
}

.bg-secondary {
  background: var(--blue-gray-800);
}

.bg-tertiary {
  background: var(--blue-gray-700);
}

.color-primary {
  color: var(--green-600);
}

.color-secondary {
  color: var(--green-700);
}

.color-tertiary {
  color: var(--green-500);
}

.green-700 {
    background:hsla(160, 84%, 39%, 1);
}

.white {
  color: var(--white);
}

.medium-gray {
  color: var(--medium-gray);
}

.karla {
  font-family: "Karla", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-800 {
  font-weight: 800;
}

.btn {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 9px 17px 9px 15px;
}
